@import "@folio/stripes-components/lib/variables.css";

.message {
  margin-bottom: 20px;
}

.modalContent {
  border: 1px solid var(--color-border);
}

.modalFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.selectAll {
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 5px;
  margin-bottom: 5px;
}
