{
  "extends": "@folio/eslint-config-stripes",
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-sort-props": "error",

     // TODO: Remove when https://issues.folio.org/browse/STRIPES-742 to reinstate these rules. 
     "template-curly-spacing" : "off",
     "indent" : "off"
  },
  "env": {
    "jest/globals": true
  },
  "plugins": ["jest"]
}
