@import "@folio/stripes-components/lib/variables";

.searchGroupWrap {
  margin-bottom: .5rem;
}

.searchField {
  margin-bottom: calc(var(--control-margin-bottom) / 2);
}

/* reset button wrap - minor alignment adjustment */
.resetButtonWrap {
  & [disabled] :global .stripes__icon {
    fill: rgba(0, 0, 0, 0.62);
  }

  &.resetButton {
    border-color: rgba(0, 0, 0, 0.62);
    color: rgba(0, 0, 0, 0.62);
  }
}