@import '@folio/stripes-components/lib/variables.css';

.agreementHeader {
  position: sticky;
  top: 0;
  background: var(--bg);
  border-bottom: 1px solid var(--color-border);

  /* AccordionHeaders and other elements that use a
     `interactionStyles` class have a z-index of 2 which
     would render them above this floaty. */
  z-index: 3;

  /* As content scrolls behind this div and then /above/ it, it
     will be visible due to the padding in ContentPane.
     Add a box-shadow in the same colour as the background and
     with the same size as said ContentPane padding to hide it.
     Additionally, add a margin-bottom on this div to prevent
     hiding any content below it. */
  box-shadow: 0 0 0 var(--gutter) var(--bg);
  margin-bottom: var(--gutter);
}
