/* Tabs */
.SegControl {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 9px 10px 0 10px;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid gainsboro;
  align-items: center;
  justify-content: center;

  &>nav {
    width: 35%;
  }
}