$toggleHeight: 20px;
$toggleBGOn: theme-color('success');
$toggleBGOff: $gray-200;
$toggleBorder: $gray-500;
$toggleOn: $white;
$toggleOff: $white;

// Derrived properties.
$toggleSwitch: floor($toggleHeight * 0.9);
$offset: (($toggleSwitch - $toggleHeight) / 2);
$toggleWidth: (2 * $toggleHeight);

.toggle {
  
  padding-left: 0;
  padding-top: (0.5 * $toggleSwitch);
  padding-bottom: (0.5 * $toggleSwitch);
  position: relative;
  
  input[type="checkbox"] {
    opacity: 0;
    
    & ~ label {
      display: block;
      position: relative;
      line-height: $toggleHeight;
      font-size: 1em;
      cursor: pointer;
      padding-left: ($toggleWidth + $toggleSwitch);
      
      // Pseaudo element for background of toggle.
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        left:0;
        background: $toggleBGOff;
        width: $toggleWidth;
        height: $toggleHeight;
        border: 1px solid $toggleBorder;
        border-radius: $toggleHeight / 2;
        cursor: pointer;
        z-index: ($zindex-dropdown - 100);
        box-shadow: inset 0 2px 2px rgba(invert($toggleBGOff), 0.24);
        transition: all 0.3s linear;
      }
    
      // Pseaudo element for toggle switch.
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        cursor: pointer;
        width: $toggleSwitch;
        height: $toggleSwitch;
        left: -($offset);
        top: -($offset);
        border-radius: $toggleSwitch / 2;
        background: $toggleOff;
        box-shadow: 2px 2px 3px rgba(invert($toggleOff), 0.24);
        transition: all .2s ease-in;
        z-index: ($zindex-dropdown - 50);
      }
    }
    
    &:checked ~ label {
      &:after {
        background: $toggleOn;
        transform: translatex($toggleHeight);
        box-shadow: 2px 2px 3px rgba(invert($toggleOn), 0.24);
      }
      &:before {
        background: $toggleBGOn;
      }
    }
  }
}  
